/*Colores de uso comun*/
$primary-color:#e9dfd8;
$secondary-color:#c3a995;
$terciary-color:rgb(158, 113, 42);

/* "@" */
$phone: 427px;
$phone-xs: 376px;
$tablet: 769px;

/*Spacing*/
$footer-icon-spacing: 10px